@use './../../styles/variables' as *;
@use './../../styles/breakpoints' as *;
@use './../../styles/fonts' as *;

.video-container {
    background-color: $Brainflix-DarkBlack;
    width: 100%;
    padding-top: 56.25%;
    position: relative;

    @include media-tablet {
        height: 400px;
        padding-top: 0px;
    }

    @include media-desktop {
        height:500px;
    }
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: auto;

    @include media-tablet {
        aspect-ratio: 16 / 9;
    }
}
  