@use "./../../styles/resets" as *;
@use "./../../styles/variables" as *;
@use "./../../styles/breakpoints" as *;
@use "./../../styles/fonts" as *;

.comment-form {
  padding: 0 1rem;

  @include media-tablet {
    padding: 0 2rem;
  }

  @include media-desktop {
    padding : 0;
  }
}

.comment-count {
  @include mobile-subheader;

  @include media-tablet {
    @include tablet-subheader;
  }
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
  border-bottom: 1px solid $Brainflix-Mercury;

  @include media-tablet {
    padding: 2.25rem 0;
  }

  @include media-desktop {
    padding: 1.5rem 1.5rem;
    margin: 0;
  }

  &__icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-top: 27px;
    background-image: url(/assets/images/Mohan-muruge.jpg);
    background-size: cover;
    flex: 0 0 auto;

    @include media-tablet {
      width: 48px;
      height: 48px;
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1rem;

    @include media-tablet {
      display: flex;
      flex-direction: row;
    }
  }

  &__fields1 {
    display: flex;
    flex-direction: column;

    @include media-tablet {
      display: flex;
      justify-content: space-between;
      width: 75%;
    }
  }

  &__input {
    padding: 0.75rem;
    min-height: 2.25rem;
    border: 1px solid $Brainflix-Mercury;
    border-radius: 4px;
    margin-bottom: 1rem;
    @include mobile-body-copy;
    color: $Brainflix-Black;

    &:focus {
      border: 1px solid $Brainflix-Blue;
      outline: none;
    }

    &--invalid {
      border: 1px solid red;
      outline: none;
    }

    @include media-tablet {
      height: 3rem;
      padding: 0.75rem;
      margin: 0;
      align-items: center;
      @include tablet-body-copy;
    }
  }

  &__button {
    height: 2.5rem;
    background-color: $Brainflix-Blue;
    background-image: url(./../../assets/icons/add_comment.svg);
    background-position: 10px 50%; 
    background-repeat: no-repeat;
    background-size:1.25rem;
    border-radius: 4px;
    border: none;
    @include mobile-label-button;
    color: $Brainflix-White;
    cursor: pointer;

    @include media-tablet {
      width: 30%;
      height: calc(3rem + 1px);
      align-self: flex-end;
      @include tablet-label-button;
      color: $Brainflix-White;
      margin-left: 1rem;
    }
  }

  &__button:hover {
    background-color: $Brainflix-DarkBlue;
  }
}

label {
  padding-bottom: 4px;
  @include mobile-label-button;
  color: $Brainflix-Silver;

  @include media-tablet {
    @include tablet-label-button;
    color: $Brainflix-Silver;
  }
}


