@use './../../assets/styles/resets' as *;
@use './../../assets/styles/variables' as *;
@use './../../assets/styles/breakpoints' as *;
@use './../../assets/styles/fonts' as *;

.nav {
  background-color: $Brainflix-White;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  &__logo {
  }

  &__container {
    display: flex;
    width: 100%;
    padding: 1rem 0;
    align-items: center;
  }

  &__search {
    border-radius: 4px;
    border: 1px solid grey;
    width: 100%;
    padding: 12px 20px 12px 40px;
    background-image: url(./../../assets/icons/search.svg);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
  }

  &__avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    flex: 0 0 auto;
    margin-left: 1rem;
    background-size: cover;
    background-image: url("./../../assets/images/Mohan-muruge.jpg");
  }

  &__upload-button1 {
    display: none;
    width: 100%;
    background-color: $Brainflix-Blue;
    border: none;
    border-radius: 4px;
    padding: 12px 20px 12px 40px;
    color: white;
    background-image: url(./../../assets/icons/upload.svg);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
  }

  &__upload-button2 {
    @include mobile-label-button;
    width: 100%;
    background-color: $Brainflix-Blue;
    border: none;
    border-radius: 4px;
    padding: 12px 20px 12px 40px;
    color: white;
    background-image: url(./../../assets/icons/upload.svg);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
  }
}
