//Primary Colors
$Brainflix-Black: #323232;
$Brainflix-Blue: #0095FF;
$Brainflix-Silver: #AFAFAF;
$Brainflix-White: #FFFFFF;

//Secondary Colors
$Brainflix-DarkBlack: #000000;
$Brainflix-DarkBlue: #0065AD;
$Brainflix-Mercury: #E1E1E1;
$Brainflix-Alabaster: #FAFAFA;