@use "./../../styles/variables" as *;
@use "./../../styles/breakpoints" as *;
@use "./../../styles/fonts" as *;

.active-video-details {
  padding: 1.5rem 1rem 1rem 1rem;

  @include media-tablet {
    padding: 1.5rem 2rem 1rem 2rem;
  }

  @include media-desktop {
    padding: 2rem 0 1rem 0rem;
  }

  &__title {
    @include mobile-page-header;
    padding-bottom: 1rem;

    @include media-tablet {
      @include tablet-page-header;
    }
  }

  &__description {
    padding-top: 1rem;
    @include mobile-body-copy;

    @include media-tablet {
      @include tablet-body-copy;
    }

    @include media-desktop {
      padding-right: 1.5rem;
    }
  }
}

.stats {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 0;
  border-top: 1px solid $Brainflix-Mercury;
  border-bottom: 1px solid $Brainflix-Mercury;

  @include media-tablet {
    align-items: center;
    border-top: none;
  }

  @include media-desktop {
    padding-right: 1.5rem;
  }

  &__left {
    width: 50%;

    @include media-tablet {
      display: flex;
      align-items: center;
    }
  }

  &__channel {
    @include mobile-subheader;
    font-weight: bold;
    padding-bottom: 1rem;

    @include media-tablet {
      @include tablet-subheader;
      padding: 0 2rem 0 0;
    }
  }

  &__date {
    @include mobile-body-copy;
    color: $Brainflix-Silver;

    @include media-tablet {
      @include tablet-body-copy;
      color: $Brainflix-Silver;
    }
  }

  &__right {
    width: 50%;

    @include media-tablet {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__views {
    display: flex;
    padding-bottom: 1rem;

    @include media-tablet {
      padding: 0 2rem 0 0;
    }

    &--icon {
      padding-right: 1rem;
    }

    &--count {
      @include mobile-body-copy;
      color: $Brainflix-Silver;

      @include media-tablet {
        @include tablet-body-copy;
        color: $Brainflix-Silver;
      }
    }
  }

  &__likes {
    display: flex;
    &--icon {
      padding-right: 1rem;
    }

    &--count {
      @include mobile-body-copy;
      color: $Brainflix-Silver;

      @include media-tablet {
        @include tablet-body-copy;
        color: $Brainflix-Silver;
      }
    }
  }
}
